* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #FFF2F3;
    ;
    --secondary-color: #96BB7C;
    ;
    --text-color: #252B42;
    --para-color: #737373;
    --light-text: #ffffff;
    --font-family: Montserrat;
    --icon-color: #F3CD03;

}

/*---------------- header  ------------------------ */
#header {
    background-color: var(--primary-color);

}

#navigation_menu {
    display: flex;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    height: 75px;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 100vw;
    z-index: 999;
}

#navbarNav {
    display: flex;
    gap: 40px;

}

#navbarNav a {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}

#button_navbar {
    display: flex;
    gap: 20px;
}

#navbar_brand {
    padding-left: 20px;
}

#navbar_brand a {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

#button_navbar #join_btn {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: right;
    color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;

}

#button_navbar #learn_more i {
    width: 12px;
    height: 10px;
    font-size: 15px;
    padding-left: 5px;
}

#learn_more {
    font-family: var(--font-family);
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    line-height: 22px;
    margin: 0 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--light-text);
    background-color: var(--secondary-color);

}

/*------------- hero_section -------------------- */

#hero_section #hero_content_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}



#hero_section #hero_content_left span {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--secondary-color);
}

#hero_section #hero_content_left h1 {
    font-family: var(--font-family);
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.2px;
}

#hero_section #hero_content_left p {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--para-color);
    padding-top: 10px;

}

#hero_section #hero_content_left #join_btn {
    padding: 15px, 40px, 15px, 40px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--light-text);
    width: 130px;
    height: 52px;

}

#hero_section #hero_content_left #learn_more {
    width: 130px;
    height: 52px;
    padding: 15px, 40px, 15px, 40px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    background: transparent;
    text-align: center;
    color: var(--secondary-color);

}


#hero_section #hero_content_right {
    margin: 1px 1px 1px 80px;
}


/* Approdable Packages */
#Approdable_Packages {
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* left_side */

#Approdable_Packages #Approdable_Packages_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#Approdable_Packages #Approdable_Packages_left i {
    font-size: 60px;
    color: red;
}

#Approdable_Packages #Approdable_Packages_left h2 {
    font-family: var(--text-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;

}

#Approdable_Packages #Approdable_Packages_left p {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding-top: 10px;

}

#Approdable_Packages #Approdable_Packages_left a {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--secondary-color);
    padding: 0%;

}

#Approdable_Packages #Approdable_Packages_left a i {
    font-size: 14px;
    color: var(--secondary-color);
}

/* right  */

#Approdable_Packages #Approdable_Packages_right {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
}

#Approdable_Packages #Approdable_Packages_right_first {
    box-shadow: 0px 13px 19px 0px #00000012;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    border-radius: 3px;
}

#Approdable_Packages #Approdable_Packages_right_first i {
    width: 50px;
    height: 56px;
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 30px;
    border-radius: 8px;
    color: var(--primary-color);
    margin-top: 14px;
    margin-bottom: 14px;
}

#Approdable_Packages #Approdable_Packages_right_first span i {
    background-color: transparent;
    color: red;
}

#Approdable_Packages #Approdable_Packages_right_first h6 {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-color);


}

#Approdable_Packages #Approdable_Packages_right_first p {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;

}



/* ----------------live video ---------- */

#live_video {
    margin: 60px auto;

}

#live_video #live_video_left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#live_video #live_video_left img {
    object-fit: cover;

}

#live_video #live_video_right span i {
    font-size: 50px;
    color: red;
    font-weight: 800;
}

#live_video #live_video_right h1 {
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 1000;
    line-height: 50px;
    letter-spacing: 0.2px;

}

#live_video #live_video_right p {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

#live_video #live_video_right a {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--secondary-color);
    padding: 0%;
}

#live_video #live_video_right a i {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 500;
}

#live_video #live_video_right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

/* <!-- Approdable_items --> */

#Approdable_items {
    margin: 70px auto;
}

#all_items_content_item_second {
    display: flex;
    align-items: center;
    justify-content: center;
}

#all_items_content_item_second_child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#all_items_content_item_first {
    display: flex;
    align-items: center;
    justify-content: center;
}

#all_items_content_item_first_child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


#Approdable_items #right_img_content button {
    display: flex;
    justify-self: start;
    width: 55px;
    border-radius: 5px;
    color: var(--light-text);
    height: 35px;
    font-size: 15px;
    top: 15px;
    align-self: center;
    border: none;
    position: relative;

}


#Approdable_items #left_img_content button {
    display: flex;
    justify-self: center;
    position: relative;
    top: 15px;
    width: 55px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    color: var(--light-text);
    border: none;
    text-align: center;

}

#Approdable_items #left_img_content span {
    display: flex;
    position: relative;
    top: 310px;
    justify-content: space-around;
    text-align: center;
}

#Approdable_items #right_img_content span {
    display: flex;
    position: relative;
    top: 310px;
    justify-content: space-around;
    text-align: center;
}

#Approdable_items #right_img_content span i {
    width: 30px;
    height: 30px;
    background-color: var(--light-text);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#Approdable_items #left_img_content span i {
    width: 30px;
    height: 30px;
    background-color: var(--light-text);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}


#right_img_part {
    width: 209px;
    height: 402px;
    position: relative;
    top: 0;

}

#left_img_part {
    width: 209px;
    height: 402px;
    position: relative;
    top: 0;

}

#all_items_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Approdable_items .main_span {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--secondary-color);
    padding: 10px 0;

}

#Approdable_items .main_heading {
    font-family: var(--font-family);
    padding: 10px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--text-color);

}

#Approdable_items .main_para {
    padding: 10px 0;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--para-color);
    margin-bottom: 50px;
    display: flex;
    align-self: flex-start;

}


#Approdable_items #left_img {
    max-height: 400px;
    margin-left: 30px;
}

#Approdable_items #right_img {
    max-height: 400px;
    margin-left: 30px;

}

#all_items_content_item_second_child_content {
    display: grid;
    gap: 5px;
    padding-right: 30px;
}

#all_items_content_item_first_child_content {
    display: grid;
    gap: 5px;
    padding-right: 30px;
}

#Approdable_items #left_para_first {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);

}

#Approdable_items #right_para_first {

    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

}

#Approdable_items #left_para_first span {
    width: 46px;
    height: 25px;
    background: #2D4059;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light-text);
    margin-right: 20px;

}

#Approdable_items #left_para_first span i {
    color: var(--icon-color);
}

#Approdable_items #right_para_first span i {
    color: var(--icon-color);

}

#Approdable_items #right_para_first span {
    color: var(--light-text);
    width: 46px;
    height: 25px;
    background: #2D4059;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#Approdable_items #left_para_second {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: var(--para-color);
    text-align: left;

}

#Approdable_items #right_para_second {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.2px;
    color: var(--para-color);


}

#Approdable_items h5 {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-top: -10px;
}

#Approdable_items #left_sales {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--para-color);
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: -10px;

}

#Approdable_items #right_sales {
    color: var(--para-color);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    gap: 10px;
    display: flex;
    margin-bottom: 10px;
    margin-top: -10px;


}

#Approdable_items #left_para_third {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #BDBDBD;
    display: flex;
    gap: 10px;
}

#Approdable_items #right_para_third {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #BDBDBD;
    display: flex;
    gap: 10px;

}

#Approdable_items #left_para_third span {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFAB71;

}

#Approdable_items #right_para_third span {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFAB71;

}

#Approdable_items #right_para_fourth {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Approdable_items #left_para_fourth {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Approdable_items #left_para_fourth #fourth_first_left {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--para-color);

}

#Approdable_items #left_para_fourth #fourth_second_left {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--para-color);

}

#Approdable_items #left_para_fourth #fourth_third_left {
    color: var(--para-color);
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;

}

#Approdable_items #left_para_fourth #fourth_first_left i {
    color: var(--secondary-color);
    padding-right: 4px;
}

#Approdable_items #left_para_fourth #fourth_second_left i {
    color: #E77C40;
    padding-right: 4px;

}

#Approdable_items #left_para_fourth #fourth_third_left i {
    color: #FFAB71;
    padding-right: 4px;
}

#Approdable_items #right_para_fourth #fourth_first_right {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--para-color);

}

#Approdable_items #right_para_fourth #fourth_second_right {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--para-color);

}

#Approdable_items #right_para_fourth #fourth_third_right {
    color: var(--para-color);
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;

}

#Approdable_items #right_para_fourth #fourth_first_right i {
    color: var(--secondary-color);
    padding-right: 4px;
}

#Approdable_items #right_para_fourth #fourth_second_right i {
    color: #E77C40;
    padding-right: 4px;

}

#Approdable_items #right_para_fourth #fourth_third_right i {
    color: #FFAB71;
    padding-right: 4px;
}


#Approdable_items button {
    width: 130px;
    height: 38px;
    padding: 0px, 40px, 0px, 40px;
    border-radius: 15px;
    border: 1px solid var(--secondary-color);
    background: transparent;
    text-align: center;
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 700;

}

/* <!-- Watch our Courses --> */
#Watch_Courses {
    margin: 40px auto;
}

#Watch_Courses .main_span {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--secondary-color);
    margin: 15px auto;


}

#Watch_Courses .main_heading {
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--text-color);
    margin: 15px auto;


}

#Watch_Courses .main_para {
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--para-color);
    margin: 15px auto;
    margin-bottom: 50px;
    display: flex;
    align-self: flex-start;


}

#Watch_Courses #Watch_Courses_left {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Watch_Courses #Watch_Courses_right {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#Watch_Courses img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
    object-fit: cover;
}

#Watch_Courses p {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--para-color);
    margin: 10px;


}

#Watch_Courses span i {
    color: var(--icon-color);
}

#Watch_Courses .name {
    margin: 10px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-color);
}

#Watch_Courses h6 {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--para-color);
}

/* <!-- Get Quality Education --> */
#Get_Quality_Education {
    margin-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    object-fit: cover;
}

#Get_Quality_Education .main_span {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--secondary-color);
    margin: 10px auto;
    padding-left: 10px;
    display: flex;
    justify-content: left;

}

#Get_Quality_Education .main_heading {
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: var(--text-color);
    margin: 10px auto;

}

#Get_Quality_Education .main_para {
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--para-color);
    margin: 20px auto;
    margin-bottom: 50px;
    display: flex;
    align-self: flex-start;

}

#Get_Quality_Education img {
    height: 240px;
    width: 210px;
    border-radius: 20px 20px 0 0;
    margin-top: 20px;
    object-fit: cover;
}

#Get_Quality_Education #Get_Quality_Education_first {
    text-align: center;
    box-shadow: 0px 13px 19px 0px #00000012;
    max-width: 270px;
    max-height: 400px;


}

#Get_Quality_Education #Get_Quality_Education_second {
    text-align: center;
    box-shadow: 0px 13px 19px 0px #00000012;
    max-width: 270px;
    max-height: 400px;


}

#Get_Quality_Education #Get_Quality_Education_third {
    text-align: center;

    box-shadow: 0px 13px 19px 0px #00000012;
    max-width: 270px;
    max-height: 400px;

}


#Get_Quality_Education #Get_Quality_Education_fourth {

    text-align: center;
    box-shadow: 0px 13px 19px 0px #00000012;
    max-width: 270px;
    max-height: 400px;
    /* margin-right: 18px; */


}

#Get_Quality_Education h4 {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-color);
    margin-top: 15px;
}

#Get_Quality_Education_all_parts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#Get_Quality_Education h6 {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: var(--para-color);
}

#Get_Quality_Education span {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    color: var(--secondary-color);
    margin: 15px 0;
}

/* <!-- form --> */
#form {
    background-color: var(--primary-color);
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form h6 {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--secondary-color);

}

#form h1 {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: center;
    color: var(--text-color);
    margin: 20px auto;

}

#form p {
    margin: 20px auto;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--para-color);
}

#form .input-group {
    margin-top: 30px;
    text-align: center;
}

#form input {
    height: 52px;
}

#form span {
    color: var(--light-text);
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* <!-- about_company  --> */
#about_company {
    padding-top: 1px;
    background-color: #ffffff;
    font-family: var(--font-family);
}

#about_company #company_info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#about_company #company_info li a {
    text-align: left;
    margin-right: 38px;
    color: var(--para-color);
    font-weight: 700;
    line-height: 22px;
}

#about_company #company_info h5 {
    margin-left: 20px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-color);

}

#about_company #legal {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#about_company #legal h5 {
    margin-right: 10px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-color);

}

#about_company #legal li a {
    color: var(--para-color);
    font-weight: 700;
    line-height: 22px;
}

#about_company #features {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#about_company #features h5 {
    margin-right: 18px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 24px;
    letter-spacing: 0.1px;

}

#about_company #features li a {
    color: var(--para-color);
    font-weight: 700;
    line-height: 22px;
}

#about_company #resources {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#about_company #resources h5 {
    margin-left: 13px;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;

}

#about_company #resources li a {
    color: var(--para-color);
    font-weight: 700;
    line-height: 22px;
}

#about_company #get_in_touch h5 {
    margin-left: 30px;
    font-family: var(--font-family);
    font-size: 20pxpx;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-color);


}

#about_company #get_in_touch li a {
    color: var(--para-color);
    font-weight: 700;
    line-height: 22px;
}

/* footer  */
#footer {
    background-color: var(--primary-color);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#footer p {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    /* line-height: 24px; */
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    color: var(--para-color);

}

#footer i {
    color: var(--secondary-color);
}

#footer span {
    gap: 30px;
    display: flex;
    cursor: pointer;
}

/* ----------media query ----------- */
@media screen and (max-width:860px) and (min-width:768px) {
    #button_navbar {
        gap: 10px;
    }

    #navigation_menu {
        gap: 40px;
    }

    #navbarNav {
        gap: 15px;
    }

}

@media screen and (min-width:576px) and (max-width:768px) {
    /* #navbarNav {
        display: none;
    } */

    #navigation_menu {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        height: fit-content;
        text-align: center;
        justify-items: center;
    }

    #navbarNav {
        width: 80vw;
        justify-content: space-between;
        flex-direction: row;
    }

    #button_navbar {
        width: 87vw;
        justify-content: right;
    }

    #footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #footer_i span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    #about_company #features {
        align-items: flex-start;
    }

    #about_company #resources {
        align-items: flex-start;
    }

    #about_company #legal {
        align-items: flex-start;
    }

    #about_company #company_info {
        align-items: flex-start;
    }

    #about_company #features h5 {
        padding-left: 30px;
    }

    #about_company #resources h5 {
        padding-left: 13px;
    }

    #about_company #legal h5 {
        padding-left: 30px;
    }

    #about_company #company_info h5 {
        padding-left: 8px;
    }

    #Get_Quality_Education .main_span,
    #Get_Quality_Education .main_heading,
    #Get_Quality_Education .main_para {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #Watch_Courses .main_span,
    #Watch_Courses .main_heading,
    #Watch_Courses .main_para {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    #Approdable_items .main_span,
    #Approdable_items .main_heading,
    #Approdable_items .main_para {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    #live_video #live_video_right {
        display: flex;
        align-items: center;
    }

    #Approdable_Packages_left {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    #Approdable_Packages #Approdable_Packages_left {
        align-items: center;
    }

    #button {
        display: flex;
    }


    #Approdable_Packages {
        margin: 40px auto;
    }

    #hero_section {
        padding-top: 110px;
    }



}

/* -------------2nd media query----------- */

@media screen and (max-width:576px) and (min-width:250px) {

    #Approdable_Packages #Approdable_Packages_left {
        align-items: center;
    }

    #navigation_menu {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        height: fit-content;
        text-align: center;
        justify-items: center;
    }

    #hero_section {
        padding-top: 100px;
    }

    #navbarNav {
        width: 70vw;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px;
    }

    #button_navbar {
        width: 83vw;
        justify-content: right;
    }


    #live_video #live_video_right {
        display: flex;
        align-items: center;
    }

    #Get_Quality_Education .main_span,
    #Get_Quality_Education .main_heading,
    #Get_Quality_Education .main_para {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    #Approdable_Packages_left h2 {
        text-align: center;
        display: flex;
        justify-self: center;
    }

    #Watch_Courses .main_span,
    #Watch_Courses .main_heading,
    #Watch_Courses .main_para {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    #Approdable_items .main_span,
    #Approdable_items .main_heading,
    #Approdable_items .main_para {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    #live_video_right {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Approdable_Packages_left {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    /* #navbarNav {
        display: none;
    } */

    #hero_section #hero_content_left h1 {
        font-size: 40px;
        line-height: 50px;
    }

    /* #button_navbar {
        display: none;
    } */


    #navbar_brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #Get_Quality_Education_all_parts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    #all_items_content_item_second_child_content {
        margin-top: 20px;
        padding-left: 60px;
        margin-right: 40px;
        margin-bottom: 20px;
    }

    #all_items_content_item_first_child_content {
        margin-top: 20px;
        padding-left: 60px;
        margin-right: 40px;
        margin-bottom: 20px;
    }

    #footer_i span {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #about_company #features {
        align-items: flex-start;
    }

    #about_company #resources {
        align-items: flex-start;
    }

    #about_company #legal {
        align-items: flex-start;
    }

    #about_company #company_info {
        align-items: flex-start;
    }

    #about_company #features h5 {
        padding-left: 30px;
    }

    #about_company #resources h5 {
        padding-left: 13px;
    }

    #about_company #legal h5 {
        padding-left: 30px;
    }

    #about_company #company_info h5 {
        padding-left: 8px;
    }

    #hero_section #hero_content_left {
        padding-top: 20px;
    }

    #button {
        display: flex;
    }

    #hero_section #hero_content_left #learn_more {
        width: 110px;
    }

    #hero_section #hero_content_left #join_btn {
        width: 110px;

    }


    #Approdable_Packages {
        margin: 40px auto;
    }



}